 /* Media Queries for responsiveness navbar and front */
@media (max-width: 768px) {
    .logo {
        margin-left: 3%;
    }
    .nav-menu ul {
        margin-right: 3%;
    }
    .main-header h2 {
        font-size: 6vw;
    }
    .main-header h2,
    .main-header p {
        width: 90%;
        margin-left: 5%;
    }
    .btn {
        width: 25vw;
        padding: 2vh 4vw;
    }
    .socialIcon li {
        font-size: 6vw;
        padding: 2vh 4vw;
    }
}
 
 /* Media Queries for responsiveness about */
@media (min-width: 768px) {
    .about-text {
      font-size: 1.1em;
    }
  }
  @media (min-width: 992px) {
    .about-container {
      padding: 40px;
    }
    .profile-image {
      float: left;
      margin-right: 20px;
    }
  }
 
 
 /* Media Queries for responsiveness about button*/
 @media (max-width: 768px) {
    .about-btn {
      font-size: 16px;
      padding: 8px 16px;
    }
  }


  